<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">

<head>
	<title>InvenTrack</title>
</head>

<body>
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">在庫一覧</h6>
		</div>
		<div class="card-body">
			<!--在庫一覧情報テーブル-->
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th width="210">名称</th>
							<th width="250">名称</th>
							<th width="80">個数</th>
							<th width="160">保管場所</th>
							<th>説明</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="stock:${stockInfoList}">
							<td th:text="${stock.categoryInfo.categoryName}"></td> <!-- 分類 -->
							<td th:text="${stock.stockName}"></td> <!-- 名称 -->
							<td th:text="${stock.amount}"></td> <!-- 個数 -->
							<td th:text="${stock.centerInfo.centerName}"></td> <!-- 保管場所 -->
							<td th:text="${stock.description}"></td> <!-- 説明 -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>